:root {
    --color-primary: #FFFFFF;
    --color-secondary: #0000ff;
    --color-accent: #000000;
    --color-headings: #ff0000;
    --color-body: #f3f3d8;
}

/* C+P main root colors to look for better color options
:root {
    --color-primary: #FFFFFF;
    --color-secondary: #0000ff;
    --color-accent: #000000;
    --color-headings: #ff0000;
    --color-body: #f3f3d8;
}*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
    /* font-family: 'Bilbo Swash Caps', cursive; Logo
    font-family: 'Oooh Baby', cursive; use for later open/closed sign*/
    font-family: Inter, Arial, Helvetica, sans-serif;  
    font-size: 2.4rem;
    line-height: 1.5;
    background-color: var(--color-body);
}


h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

@media screen and (min-width: 1024px) {
    .list__item {
        padding-left: 0;
    }
}

/* Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--accent {
    fill: var(--color-secondary);
} /* does this mess with navbar? */

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon-container--accent {
    background: var(--color-accent);
}

/* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__arrow {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
  
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__arrow {
    transform: rotate(0);
}  

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Blocks */

.block {
    --padding-vertical: 5rem;
    padding: var(--padding-vertical) 2rem;
  }
  
  .block__header {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .block__heading {
    margin-top: 0;
  }
  
  .block--dark {
    background: #000;
    color: #7b858b;
  }
  
  .block--dark h1,
  .block--dark h2,
  .block--dark h3 {
    color: var(--color-headings);
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
/* Navigation Bar */

.nav {
    background: var(--color-body);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    text-align: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
    border-bottom: none;
}

.nav__item > a {
    color: var(--color-headings);
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: var(--color-accent);
}

.nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px var(--color-accent);
    border-radius: 5px;
}

.nav__logo {
    transform: translateY(5px);
    width: 150px;
    /* font-family: 'Bilbo Swash Caps', cursive; */
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Footer */

.footer {
    background: #232323;
    padding-top: 10rem;
  }
  
  .footer a {
    color: #777;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #fff;
  }
  
  .footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
  }
  
  .footer__section .list {
    margin: 0;
  }
  
  .footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  
  .footer__brand {
    margin-top: 5rem;
    text-align: center;
  }
  
  .footer__brand img {
    max-width: 230px;
  }
  
  .footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      font-size: 1.5rem;
    }
    .footer__sections {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  
    .footer .collapsible__arrow {
      display: none;
    }
  
    .footer .collapsible__content {
      opacity: 1;
      max-height: 100%;
    }
  
    .footer__brand {
      order: -1;
      margin-top: 1rem;
    }
  
    .footer__copyright {
      font-size: 1.5rem;
    }
  
    .footer__section {
      border: 0;
    }
  
    .footer__heading {
      font-size: 1.6rem;
    }
  }
  