<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Contact</h2>
        <button class="icon--btn">
          <svg class="icon icon--white collapsible__arrow">
            <use href="/images/GRF-Sprite.svg#arrow-icon-svg"></use>
          </svg>
        </button>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
  </div>
</footer>
