<header>
    <nav class="nav collapsible collapsible--expanded">
        <a href="#" class="nav_logo">Get Right Fades</a>
        <svg class="icon icon--secondary nav__toggler">
            <use xlink: href="/images/GRF-Sprite.svg#menu-icon-svg"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
            <li class="nav__item">
            <a href="#">ABOUT US</a>
            </li>
            <li class="nav__item">
            <a href="#">FOLLOW US</a></li>
            <li class="nav__item">
            <a href="#">CONTACT</a>
            </li>
            <li class="nav__item">
            <a href="#">BOOK AN APPOINTMENT</a>
            </li>
            <li class="nav__item">
            <a href="#">GITHUB</a>
            </li>
        </ul>
    </nav>
</header>