<header>
  <h1>Get Right Fades</h1>
</header>
<body>
  <h2>Recent Cuts</h2>
  <h2>About Us</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro adipisci
    impedit obcaecati eos aspernatur, error dolore aperiam. Repudiandae
    architecto omnis expedita distinctio soluta ad error placeat, cumque nemo
    sit eaque.
  </p>
  <h3>About us</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum modi quisquam
    laboriosam consequuntur illo quas voluptatum. Quos officia dolore placeat!
  </p>
  <h3>Customer Reviews</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
    repellendus fugiat molestias culpa enim facilis harum ab deleniti
    consectetur vel.
  </p>
</body>
<footer>
  <h4>contact</h4>
</footer>
